<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">Welcome to the Collection</a>
      </div>
  
      <div class="navbar-dark">
        <ul class="nav navbar-nav">
          <li routerLink="active"><a routerLink="/inventory" >Inventory</a></li>
          <li routerLink="active"><a routerLink="/convention">Convention</a></li>
        </ul>
       
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>

